<nav class="fixed top-0 z-50 w-[100%] py-4 border-b dark:border-gray-600 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-center gap-8 md:gap-12">
      <a routerLink="/home"  class="flex items-center gap-3">
        <span
          class="w-10 h-10 rounded-full bg-gray-800 dark:bg-gray-300 flex justify-center items-center text-white dark:text-pink-700"
        >
          <i class="bx bxs-shopping-bag-alt text-2xl"></i>
        </span>
        <span class="text-xl font-semibold dark:text-pink-100"
          >Fashi<span class="text-rose-700 dark:text-pink-700">on</span></span
        >
      </a>
      <div
        #toggleBox
        class="absolute top-full left-0 md:static bg-white dark:bg-gray-800 py-4 md:py-0 border-b md:border-0 w-full opacity-0 invisible md:opacity-100 md:visible transition-all navbar-menu"
        [ngClass]="isToggle ? 'show' : ''"
      >
        <div class="container z-15 mx-auto px-4 dark:bg-gray-800">
          <ul class="flex flex-col md:flex-row gap-x-8 gap-y-4">
            <li class="md:hover:scale-110 hover:text-bold" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/home" class="nav-links" [ngClass]="userTheme === 'dark' ? 'darkColor' : 'lightColor'"> Home </a>
            </li>
            <li class="md:hover:scale-110  hover:text-bold" routerLinkActive="active">
              <a
                routerLink="/products"
                class="nav-links" [ngClass]="userTheme === 'dark' ? 'darkColor' : 'lightColor'"
              >
                Categories
              </a>
            </li>
            <li class="md:hover:scale-110 hover:text-bold"  routerLinkActive="active">
              <a
                routerLink="/products"
                class="nav-links" [ngClass]="userTheme === 'dark' ? 'darkColor' : 'lightColor'"
              >
                Products
              </a>
            </li>
            <li class="md:hover:scale-110 hover:text-bold"  routerLinkActive="active">
              <a
                routerLink="/contact"
                class="nav-links" [ngClass]="userTheme === 'dark' ? 'darkColor' : 'lightColor'"
              >
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="flex items-center gap-8 ml-auto">
        <li class="static sm:relative">
          <a
            href=""
            class="text-lg hover:text-rose-700 dark:text-purple-100 hover:dark:text-pink-700 transition-colors"
            (click)="searchPopup($event)"
          >
            <i class="bx bx-search-alt-2 hover:scale-110 hover:text-bold"></i>
          </a>
          <div
            #searchPopupBox
            class="absolute top-full right-0 bg-white dark:bg-gray-800 p-4 shadow w-full sm:w-auto rounded-none sm:rounded-lg opacity-0 invisible search-popup z-10"
            [ngClass]="isSearchPopup ? 'show' : 'opacity-0 invisible'"
          >
            <form action="#" class="flex items-center gap-1 border-b dark:border-gray-400">
              <i class="bx bx-search text-lg text-gray-500 dark:text-pink-100"></i>
              <input
                type="text"
                class="px-3 py-2 border-0 outline-0 dark:bg-gray-800"
                placeholder="Search..."
              />
            </form>
            <h4 class="font-semibold text-gray-400 dark:text-pink-100 mt-4 mb-2">
              Recently Search:
            </h4>
            <ul class="max-h-36 overflow-y-auto">
              <li>
                <a
                  href="#"
                  class="flex gap-2 items-center p-3 hover:bg-gray-100 hover:dark:bg-gray-600"
                >
                  <i class="bx bx-search dark:text-pink-700"></i>
                  <span class="dark:text-pink-100">Lorem ipsum dolor.</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex gap-2 items-center p-3 hover:bg-gray-100 hover:dark:bg-gray-600"
                >
                  <i class="bx bx-search dark:text-pink-700"></i>
                  <span class="dark:text-pink-100">Lorem ipsum dolor.</span>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex gap-2 items-center p-3 hover:bg-gray-100 hover:dark:bg-gray-600"
                >
                  <i class="bx bx-search dark:text-pink-700"></i>
                  <span class="dark:text-pink-100">Lorem ipsum dolor.</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="relative">
          <a
            routerLink="/cart"
            class="text-lg hover:text-rose-700 dark:text-pink-100 hover:dark:text-pink-700  transition-colors"
          >
            <i class="bx bx-shopping-bag hover:scale-110 hover:text-bold"></i>
          </a>
          <span
            class="absolute top-0 left-50 -translate-x-1/2 w-2 h-2 rounded-full bg-rose-500" *ngIf="cartNotEmpty"
          >
            <span
              class="absolute inset-0 rounded-full animate-ping bg-rose-500"
            ></span>
          </span>
        </li>
      </ul>
      <i
        class="bx bx-menu text-lg block md:hidden navbar-toggle dark:text-pink-100 hover:dark:text-pink-700"
        (click)="navToggle()"
      ></i>
      <div class="">
        <i #sunIcon class='bx bxs-moon moon cursor-pointer hover:dark:text-pink-700 dark:text-pink-100 ' (click)="lightIconClicked()" [ngClass]="lightThemeToggle ? 'display-none' : 'block' "></i>
        <i #moonIcon class='bx bxs-sun sun cursor-pointer text-yellow-600' (click)="darkIconClicked()" [ngClass]="darkThemeToggle ? 'display-none' : 'block' "></i>
      </div>
    </div>
  </div>
</nav>
