<div class="">
  <div class="flex justify-center items-center w-full min-h-screen">
    <div
      class="flex flex-col md:flex-row md:space-x-6 md:space-y-0 space-y-6 bg-rose-700 dark:bg-pink-700 w-full max-w-4xl p-8 sm:p-12 rounded-none md:rounded-xl shadow-lg text-white overflow-hidden"
    >
      <div class="flex flex-col space-y-8 justify-between">
        <div>
          <h1 class="font-bold text-4xl tracking-wide">Contact Us</h1>
          <p class="pt-3 pl-2 md:pl-0 text-rose-100 text-sm">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nobis
            omnis dolore neque perferendis quidem corrupti.
          </p>
        </div>
        <div class="flex flex-col space-y-4">
          <div class="inline-flex space-x-2 items-center">
            <i class="bx bxs-phone text-rose-400 text-bold text-xl"></i>
            <span>+(963) 953-883902</span>
          </div>
          <div class="inline-flex space-x-2 items-center">
            <i class="bx bxs-envelope text-rose-400 text-bold text-xl"></i>
            <span>mostafamhli1234@gmail.com</span>
          </div>
          <div class="inline-flex space-x-2 items-center">
            <i class="bx bxs-map text-rose-400 text-bold text-xl"></i>
            <span>Syria - Homs</span>
          </div>
        </div>
        <div class="flex space-x-4 text-xl">
          <a href="">
            <i class="bx bxl-facebook-circle hover:text-rose-300"></i>
          </a>
          <a href="">
            <i class="bx bxl-linkedin-square hover:text-rose-300"></i>
          </a>
          <a href="">
            <i class="bx bxl-instagram-alt hover:text-rose-300"></i>
          </a>
          <a href="">
            <i class="bx bxl-twitter hover:text-rose-300"></i>
          </a>
        </div>
      </div>

      <div class="relative">
        <div
          class="absolute -z-1 w-40 h-40 rounded-full bg-rose-300 dark:bg-pink-300 -right-28 -top-28"
        ></div>
        <div
          class="absolute -z-1 w-40 h-40 rounded-full bg-rose-300 dark:bg-pink-300 -left-28 -bottom-16"
        ></div>
        <div
          class="relative z-1 bg-white dark:bg-gray-800 rounded-lg shadow-lg p-8 text-gray-600 md:w-80"
        >
          <form action="" class="flex flex-col space-y-4">
            <div>
              <label for="" class="text-sm dark:text-pink-100">Your Name</label>
              <input
                type="text"
                placeholder="Your Name"
                class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 dark:bg-gray-700 focus:ring-pink-300 dark:text-pink-100"
              />
            </div>

            <div>
              <label for="" class="text-sm dark:text-pink-100">Email Address</label>
              <input
                type="email"
                placeholder="Email Address"
                class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 dark:bg-gray-700 focus:ring-pink-300 dark:text-pink-100"
              />
            </div>

            <div>
              <label for="" class="text-sm dark:text-pink-100">Message</label>
              <textarea
                placeholder="Message"
                rows="4"
                class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 dark:bg-gray-700 focus:ring-pink-300 dark:text-pink-100"
              ></textarea>
            </div>

            <button
              class="inline-block self-end bg-rose-600 text-white font-bold rounded-lg px-6 py-2 uppercase text-sm dark:bg-pink-700 hover:dark:bg-pink-800"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
