<div class="p-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <div>
        <h1
          class="text-3xl text-lora lg:text-5xl dark:text-pink-100 leading-sung font-lora font-bold mb-8"
        >
          Find best and latest styles here
        </h1>
        <p class="mb-12 dark:text-pink-100">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima omnis
          dicta asperiores maxime! Atque ratione debitis ipsam.
        </p>
        <div class="flex items-center gap-4">
          <a
            routerLink="/products"
            class="py-2 px-3 lg:py-4 lg:px-5 inline-block bg-red-700 dark:bg-pink-700 text-white dark:text-pink-100 font-medium text-sm rounded hover:shadow-lg hover:shadow-red-700/50 hover:dark:shadow-pink-700/50 transition-shadow active:bg-red-600 active:dark:bg-pink-600"
            >Shopping Now</a
          >
          <a class="flex gap-2 items-center">
            <span
              class="w-8 h-8 border-2 border-rose-700 rounded-full flex items-center justify-center bg-white dark:bg-pink-100 relative before:content-[''] before:absolute before:inset-1 before:rounded-full before:bg-rose-700 before:dark:bg-pink-700 before:animate-ping -z-10"
            >
              <i class="bx bx-play text-rose-700 dark:text-pink-700 text-xl ml-1"></i>
            </span>
            <span class="text-sm font-medium dark:text-pink-100">play video</span>
          </a>
        </div>
      </div>
      <div class="mx-auto">
        <img src="assets/imgs/header.png" alt="header" class="w-full" />
      </div>
    </div>
  </div>
</div>
