
  <div class="h-16 flex flex-col md:flex-row justify-center items-center gap-y-4 md:gap-x-8">
    <span
      class="text-xl hover:text-red-700 hover:border-b-2 hover:border-red-700 hover:pb-1 transition cursor-pointer"
      (click)="detectChanges($event)"
      >All</span
    >
    <span
      class="text-xl hover:text-red-700 hover:border-b-2 hover:border-red-700 hover:scale-110 hover:pb-1 transition cursor-pointer"
      *ngFor="let option of data"
      (click)="detectChanges($event)"
      >{{ option | titlecase }}</span
    >
  </div>

